.button {
  @include reset-btn;
  font-size: 16px;
  line-height: 1.45;
  text-shadow: 0px 2px 10px rgba(22, 103, 202, 0.9);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background: linear-gradient(90deg, #0acffe 0%, #495aff 100%);
  box-shadow: 0px 4px 0px #3178ce, 0px 24px 100px rgba(35, 161, 255, 0.75),
    inset 0px -2px 2px rgba(141, 200, 255, 0.5),
    inset 0px 2px 2px rgba(114, 203, 255, 0.78);
  border-radius: 10px;
  @include max-width(326px);
  min-height: 80px;
  overflow: hidden;
  position: relative;

  span {
    position: relative;
    padding-right: 40px;

    &::before {
      right: 0;
      @include y-align;
      position: absolute;
      width: 24px;
      height: 37px;
      @include bg;
      background-image: url('/src/img/icons/btn-finger.svg');
      content: '';
    }
  }

  &:hover {
    box-shadow: 0px 4px 0px #3178ce;
  }

  &:active {
    background: linear-gradient(0deg, #495aff, #495aff);
    border-radius: 10px;
    box-shadow: none;
    top: 6px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
