.header {
  padding-top: 20px;
  padding-bottom: 30px;

  &_thanks {
    background: white;
  }

  @media (max-width: 650px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  @media (max-width: 650px) {
    width: 100px;
    height: auto;
  }
}

.header__text {
  line-height: 1.45;
  margin-bottom: 0;
  text-align: center;
  @include max-width(230px);

  @media (max-width: 650px) {
    display: none;
  }
}

.header__contact-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  position: relative;
  flex-shrink: 0;

  @media (max-width: 650px) {
    padding-left: 30px;
  }

  &:hover::before {
    transform: rotate(10deg);
  }

  &::before {
    width: 25px;
    height: 25px;
    @include bg;
    background-image: url('/src/img/icons/phone.svg');
    position: absolute;
    left: 0;
    top: 20px;
    transition: 0.5s;
    content: '';

    @media (max-width: 650px) {
      top: 10px;
    }
  }
}

.header__phone {
  @include reset-link($black);
  color: $black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;

  @media (max-width: 650px) {
    font-size: 14px;
  }
}

.header__callback {
  @include reset-btn;
  color: $black;
  text-align: center;
  font-size: 16px;

  @media (max-width: 650px) {
    font-size: 12px;
  }
}
