.shops {
  @include bg;
  background-image: url('/src/img/bgs/shops-bg.jpg');
  min-height: 954px;
  padding-top: 88px;
  z-index: 2;
  position: relative;

  @media (max-width: 1150px) {
    padding-top: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
  }
}

.shops__title {
  text-align: center;
  margin-bottom: 11px;
}

.shops__slider-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  &::before {
    content: url('/src/img/shops-book.png');
    position: absolute;
    left: -392px;
    top: 134px;

    @media (max-width: 1150px) {
      content: none;
    }
  }

  @media (max-width: 991px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 650px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.shops__slider {
  width: 100%;
}

.shops__slides-box {
  position: relative;

  @media (max-width: 1200px) {
    max-width: 754px;
    margin-left: auto;
    margin-right: auto;
  }
}

.shops__slider-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 26px !important;
  background-color: #ffffff;
  box-shadow: 0px 30px 65px rgba(166, 166, 166, 0.3),
    0px 7px 20px rgba(166, 166, 166, 0.3);
  margin-top: -30px;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &::after {
    content: none;
  }

  &_prev {
    background-image: url('/src/img/icons/arrow-left.svg');
    left: -30px;
  }
  &_next {
    background-image: url('/src/img/icons/arrow-right.svg');
    right: -30px;
  }
}

.shops__slider-pagination {
  position: relative;
  bottom: 0;
  margin-top: 30px;

  .swiper-pagination-bullet-active {
    background: linear-gradient(90deg, #0acffe 0%, #495aff 100%);
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(154, 154, 154, 0.2);
  }
}

.shops__slide-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
